<div class="col-xs-12">
  <table class="stock">
    <tbody>
    <tr class="titreColonne">
      <td class="titreColonne">Référence</td>
      <td class="titreColonne">Famille</td>
      <td class="titreColonne">Categorie</td>
      <td class="titreColonne">Finition</td>
      <td class="titreColonne">Effet</td>
      <td class="titreColonne">Valeur seuil</td>
      <td class="titreColonne">Quantité en stock</td>
    </tr>
    <tr *ngFor="let piece of pieces ">
      <!-- Référence-->
      <td *ngIf="piece.valeur_seuil >= piece.quantite_en_stock" style="background-color: rosybrown">{{piece.reference}}</td>
      <td *ngIf="piece.valeur_seuil < piece.quantite_en_stock">{{piece.reference}}</td>
      <!-- Famille-->
      <td *ngIf="piece.valeur_seuil >= piece.quantite_en_stock" style="background-color: rosybrown">{{piece.nom_famille}}</td>
      <td *ngIf="piece.valeur_seuil < piece.quantite_en_stock">{{piece.nom_famille}}</td>
      <!-- Catégorie-->
      <td *ngIf="piece.valeur_seuil >= piece.quantite_en_stock" style="background-color: rosybrown">{{piece.nom_categorie}}</td>
      <td *ngIf="piece.valeur_seuil < piece.quantite_en_stock">{{piece.nom_categorie}}</td>
      <!-- Finition-->
      <td *ngIf="piece.valeur_seuil >= piece.quantite_en_stock" style="background-color: rosybrown">{{piece.nom_finition}}</td>
      <td *ngIf="piece.valeur_seuil < piece.quantite_en_stock">{{piece.nom_finition}}</td>
      <!-- Effet-->
      <td *ngIf="piece.valeur_seuil >= piece.quantite_en_stock" style="background-color: rosybrown">{{piece.effet_finition}}</td>
      <td *ngIf="piece.valeur_seuil < piece.quantite_en_stock">{{piece.effet_finition}}</td>
      <!-- Valeur seuil-->
      <td *ngIf="piece.valeur_seuil >= piece.quantite_en_stock" style="background-color: rosybrown">{{piece.valeur_seuil}}</td>
      <td *ngIf="piece.valeur_seuil < piece.quantite_en_stock">{{piece.valeur_seuil}}</td>
      <!-- quantité en stock-->
      <td *ngIf="piece.valeur_seuil >= piece.quantite_en_stock" style="background-color: rosybrown">{{piece.quantite_en_stock}}</td>
      <td *ngIf="piece.valeur_seuil < piece.quantite_en_stock">{{piece.quantite_en_stock}}</td>
    </tr>
  </table>
</div>
