.titreColonne {
  font-weight: bold;
  background-color: grey;
}

table {
  border: medium solid black;
  border-collapse: collapse;
  width: 80%;
  margin-left: 20px;
  margin-top: 40px;
}
td {
  font-family: sans-serif;
  border: thin solid black;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
  table-layout: auto;
}
